@charset "UTF-8";

h1, h2, h3 {
	text-align: center;
}

table {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	padding: 5px;
}

hr {
	width: 60%;
}

.errorMessage {
	color: red;
}